nav {
  background-color: #4caf50;
  padding: 10px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
}
nav ul li a:hover {
  background-color: #2f8247;
}
img {
  display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
  margin: 0 auto; /* Centrar las imágenes horizontalmente */
  max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
  border: 3px solid #69bd45; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
  border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
}
header {
  background-color: #69bd45;
  color: #fff;
  text-align: center;
  padding: 5px;
}

section {
  padding: 20px; /* espaciado para la sección de 20 pixeles */
}

footer {
  background-color: #4caf50; /* Color de fondo del footer */
  color: #fff;
  padding: 20px 0;
}
.footer-content {
  max-width: 800px; /* Ancho máximo del contenido del footer */
  margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
  text-align: center;
}

img {
  display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
  margin: 0 auto; /* Centrar las imágenes horizontalmente */
  max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
  border: 3px solid #69bd45; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
  border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
}

.parrafo {
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #69bd45;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(17, 203, 73),
    rgba(37, 117, 252, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgb(17, 203, 64),
    rgba(37, 117, 252, 1)
  );
}

video {
  max-height: 90vh;
  width: auto;
}

.video-carousel {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
